.content {
    background-color: #007AFF !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 30rem;
}

.quiz-ans-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .05);
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, .4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .75rem;
}

.bg-success, .bg-danger {
    color: white;
}

.end_screen_headline {
    font-size: 2.25rem;
    margin-bottom: 2rem;
}

.button_place{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}
/*****************************
 *  Headlines  & text        *
******************************/


/*****************************
 *  Gallery  (all images)    *
******************************/



/*****************************
 *  Site     Structre)       *
******************************/
/* ------------------------- 
   Section: Startseite */


/* End of section: Startseite 
   ===============================*/


/******************************************
+ JUST FOR SMARTPHONES
/******************************************/


    
    /*  Headlines | GENERAL CLASSES       
    *=============================*/


    /*  Site     (Structre) 
    *=============================*/
    
    /* Section: Startseite */

/******************************************
+ END of JUST FOR SMARTPHONES
/******************************************/